@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  background: #fafafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  border-bottom: 1px solid #eaecf0;
  display: flex;
  padding: 10px 32px;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filters {
  max-width: 1376px;
  display: flex;
  width: 100%;
  gap: 16px;
  background: #fff;
  border-bottom: 1px solid #eaecf0;
  padding: 16px 32px;
  justify-content: flex-start;
  align-items: flex-end;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 180px;
}

.filter span {
  font-size: 12px;
  color: #344054;
  font-weight: 400;
  margin-bottom: 8px;
}

.switcher {
  display: flex;
  background: #f5f2f4;
  border-radius: 12px;
  padding: 4px;
  width: fit-content;
}

.switcher-btn {
  background: none;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #101828;
  cursor: pointer;
  transition: background 0.2s;
}

.switcher-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.switcher-btn.active {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 14px 44px 14px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #222;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.2s, box-shadow 0.2s;
  position: relative;
}

.custom-select:focus,
.custom-select:active,
.custom-select.selected {
  border: 2px solid #b99aff;
  box-shadow: 0 0 0 2px #e6ddff;
}

.custom-select {
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px 20px;
}

.custom-select option {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  background: #fff;
}

.custom-select:hover {
  border: 2px solid #b99aff;
}

.custom-dropdown {
  position: relative;
  width: 200px;
  font-family: inherit;
}

.dropdown-selected {
  background: #fff;
  border: 1px solid transparent;
  border-color: #d0d5dd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0);
  padding: 10px 38px 10px 14px;
  font-size: 14px;
  line-height: 22px;
  color: #101828;
  font-weight: 500;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s;
  position: relative;
}

.dropdown-selected:hover {
  border: 1px solid #d6bbfb;
}

.dropdown-selected:after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg fill="%23888" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M5.516 7.548a.75.75 0 0 1 1.06 0L10 10.97l3.424-3.423a.75.75 0 1 1 1.06 1.06l-3.954 3.954a.75.75 0 0 1-1.06 0L5.516 8.608a.75.75 0 0 1 0-1.06z"/></svg>') no-repeat center;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.2s ease;
}

.custom-dropdown.open .dropdown-selected {
  border: 1px solid #d6bbfb;
  box-shadow: 0 0 4px 0 #f4ebff, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.custom-dropdown.open .dropdown-selected:after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-list {
  display: none;
  position: absolute;
  left: 0;
  padding: 4px 0;
  right: 0;
  border: 1px solid #f2f4f7;
  top: 48px;
  background: #fff;
  border-radius: 12px;
  z-index: 10;
}

.custom-dropdown.open .dropdown-list {
  display: block;
}

.dropdown-item {
  position: relative;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #101828;
  cursor: pointer;
  transition: background 0.15s;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background: #f9fafb;
  color: #7f56d9;
}

.dropdown-item.selected {
  background: #f9fafb;
}

.dropdown-check {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* или нужный размер */
  height: 20px;
  pointer-events: none;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f9fafb;
}

.voyant-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  background: #fff;
  margin: 0px;
  position: relative;
  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  outline: none;
}

.voyant-checkbox:checked {
  border-color: #7f56d9;
}

.voyant-checkbox:checked::after {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #7f56d9;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Фокус */
.voyant-checkbox:focus {
  box-shadow: 0 0 0 2px #e5dbff;
}

.stats {
  display: flex;
  background: #fff;
  border: 1px solid #eaecf0;
  border-radius: 12px;
  width: 100%;
  margin: 24px 32px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.06), 0 1px 3px 0 rgba(16, 24, 40, 0.1);
}

.stats-cards {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 32px 0 24px 0;
  justify-content: space-between;
}

.divider-cards {
  min-width: 1px;
  background: #eaecf0;
}

.stats-card {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.search-input {
  width: 114px;
  padding: 10px 14px 10px 40px;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  font-size: 14px;
  color: #101828;
  outline: none;
  transition: box-shadow 0.2s;
}

.search-input::placeholder {
  color: #98a2b3;
  font-size: 14px;
}

.search_container {
  position: relative;
  margin: 10px 14px 10px 14px;
  max-width: 100%;
}

.search_container img {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.stats-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #344054;
  font-weight: 400;
}

.stats-title input[type=checkbox] {
  accent-color: #ffbdbd;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  margin: 0;
}

.stats-value {
  font-size: 24px;
  padding-top: 16px;
  gap: 8px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #222;
}

.stats-change {
  font-size: 12px;
  color: #fd5c5c;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.table-block {
  width: 100%;
  margin: 24px 32px 0px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  padding: 24px 0;
}

.table-header-row-container {
  position: sticky;
  padding: 10px 0px 20px 0px;
  top: 100px;
  background: #FFFFFF;
}

.table-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.stats-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 16px;
  background: transparent;
}

.stats-table th {
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}

.stats-table td {
  padding: 16px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  background: transparent;
  border-bottom: 1px solid #eaecf0;
  border-left: 1px solid #eaecf0;
  vertical-align: top;
}

.stats-table td:last-child {
  border-right: 1px solid #eaecf0;
}

.stats-table thead {
  position: sticky;
  top: 162px;
  z-index: 2;
}

.stats-table thead th {
  color: #888;
  font-weight: 500;
  font-size: 12px;
  background: #f9fafb;
  border-top: 1px solid #eaecf0;
  border-bottom: 1px solid #eaecf0;
  border-left: 1px solid #eaecf0;
}

.stats-table thead th:last-child {
  border-right: 1px solid #eaecf0;
}

.stats-table tbody tr {
  border-bottom: 1px solid #f0e9f2;
  transition: background 0.2s;
}

.stats-table tbody tr:hover {
  background: #f9fafb;
}

.stats-table tbody tr:last-child {
  border-bottom: none;
}

.table-id {
  color: #667085;
  font-weight: 500;
}

.table-name {
  font-weight: 500;
}

.table-down {
  color: #ff4d4f;
  font-size: 13px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.table-check {
  color: #22c55e;
  font-size: 20px;
}

.table-status {
  padding: 4px 8px 4px 6px;
  background: #ecfdf3;
  border-radius: 16px;
  color: #027a48;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.table-status span {
  color: #12b76a;
}

.voyant-header {
  display: flex;
  gap: 4px;
  align-items: center;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  width: 36px;
  height: 20px;
  background: #e4e6ef;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s;
  margin-right: 8px;
}

.slider::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider {
  background: #7c3aed;
}

input:checked + .slider::before {
  transform: translateX(16px);
}

.switch-label {
  color: #344054;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}

.filter-datepicker {
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  padding: 10px 38px 10px 14px;
  font-size: 14px;
  line-height: 22px;
  color: #101828;
  background: #fff;
  outline: none;
  width: 210px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 10L12 14L16 10" stroke="%239CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px 24px;
}

.filter-datepicker:focus {
  border: 1px solid #d6bbfb;
  box-shadow: 0 0 4px 0 #f4ebff, 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.filter-datepicker:hover {
  border: 1px solid #d6bbfb;
}

.filter-datepicker::-webkit-input-placeholder {
  color: #101828;
  opacity: 1;
}

.filter-datepicker::-moz-placeholder {
  color: #101828;
  opacity: 1;
}

.filter-datepicker:-ms-input-placeholder {
  color: #101828;
  opacity: 1;
}

.filter-datepicker::placeholder {
  color: #101828;
  opacity: 1;
}

.filter-datepicker ~ .flatpickr-input[readonly] {
  background: none;
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  display: none;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #7c3aed !important;
  color: #f5f2f4 !important;
  border: none !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange:hover {
  background: #7c3aed !important;
  color: #f5f2f4 !important;
  border: none !important;
}

.flatpickr-day.inRange {
  background: #f9fafb !important;
  color: #7c3aed !important;
  box-shadow: -5px 0 0 #f9fafb, 5px 0 0 #f9fafb !important;
}

.flatpickr-day:hover {
  background: #f9fafb !important;
  border-color: #d0d5dd !important;
  color: #7c3aed !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: none !important;
}

.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: none !important;
}

.xls-btn {
  display: flex;
  align-items: center;
  color: #344054;
  padding: 10px 16px;
  background: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.xls-btn:hover {
  background: #f4f3ff;
  border-color: #b99aff;
}

.xls-btn:active {
  background: #e9e5ff;
  border-color: #7f56d9;
}

#chart {
  max-height: 360px;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.chart-container {
  padding: 16px;
  width: 100%;
  margin: 0 32px;
  border: 1px solid #eaecf0;
  border-radius: 12px;
  height: 360px;
  background: #fff;
}

.grouping-col {
  display: none;
}

.switch input[type=checkbox]:checked ~ .stats-table .grouping-col,
.switch input[type=checkbox]:checked ~ .table-block .stats-table .grouping-col {
  display: table-cell;
}

.table-block:has(.switch input[type=checkbox]:checked) .stats-table .grouping-col {
  display: table-cell;
}

.switch input[type=checkbox]:checked + .slider + .switch-label + .stats-table .grouping-col {
  display: table-cell;
}

/*# sourceMappingURL=main.css.map */
